
/* Layers Order */
@layer general, libs, base, utilites, media;

/* Uncomment if your project require library  */
/* @import url("../libs/uikit/css/uikit.min.css") layer(libs); */
@import url("./fonts.css");
@import url("./variables.css");
@import url("./utilites.css") layer(utilites);
@import url("./general.css") layer(general);
@import url("./media.css") layer(media);

/* #region Project styles */

@layer base {
  div {
    inline-size: 200px;
    block-size: 200px;
  }
}

/* #endregion */
