
/* #region Utilites styles */

.ht-text-ellipsis {
  max-inline-size: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ht-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

/* #endregion */
